@charset "UTF-8";

@media screen and (min-width: 768px) {
    #btburguer {
        display: none;
    }
    #navBurguer {
        display: block;
    }
    nav > ul > li {
        display: inline-block;
        padding: 4px;
    }
    main {
        max-width: 768px;
    }
}