@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html, body {
    background-color: lightblue;
}
header {
    background-color: white;
}
header > h1 {
    text-align: center;
    padding: 20px;
}
nav {
    display: none;
}
nav > ul {
    list-style-type: none;
}
nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: rgb(121, 121, 121);
    border-top: 1px solid white;
    color: white;
    border-radius: 4px;
}
nav > ul > li > a {
    transition: .2s;
}
nav > ul > li > a:hover {
    color: lightblue;
}
main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
}
article > h2 {
    padding-bottom: 10px;
    text-align: center;
}
article > p {
    text-align: justify;
    padding-bottom: 10px;
    text-indent: 25px;
}
#btburguer {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
